*{
    border-radius: 30px;
}
/* ---------------------------------------- */
/* == HEADER */
/*---------------------------------------- */
header {
    height: 185px;
}

.titre {
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 30px;
    border: 0.2rem solid;
    padding: 0.7rem 1rem;
    
}

nav {
    padding-top: 5rem;
}

/* == Image de fond header et footer */
.bg-img{
background-image : url("images/Img_background_appareil_photo.jpeg");
}

/* == Taille des images de la barre de navigation */
.logo{
    height: 50px;
    width: 150px;
}

.panier{
    height:1.25rem;
}

.nav-link{
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    font-size: 1rem;
    border:0.2rem solid rgb(116, 68, 116); 
    margin-left: 0.5rem;
    
}

.navbar-brand{
    background-color: white;
}

/* == Comportement des liens de la barre de navigation au survol */
.nav-link:hover{
     border:0.25rem solid; 
}


/* ---------------------------------------- */
/* == FOOTER */
/*---------------------------------------- */

footer {
    height: 200px;
    padding-top: 2rem;
}

.footerblockliens{
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 30px;
    border: 0.2rem solid;
}

.footer a{
   color: black;
}

.footer a:hover{
    color: orange
}

.footer{
    margin:auto;
}

/* ---------------------------------------- */
/* == MAIN PANIER*/
/*---------------------------------------- */

Input{
    border-radius: 0;
}

/* ---------------------------------------- */
/* == MAIN ACCUEIL*/
/*---------------------------------------- */

.block-bulles{
    background-color: rgb(226, 222, 222);
}

.photo{
    animation: bullesvisibles 2s;
    animation-fill-mode: both;
}

    @keyframes bullesvisibles {
        0% {
          opacity: 0;
          transform: translateY(5px);
        }
        100% {
          opacity: 1;
          transform: translateY(0px);
        }
    }

/* ---------------------------------------- */
/* == MAIN PRODUIT*/
/*---------------------------------------- */
    #quantiteProduit{
        border-radius: 0;
    }